{% extends  'master/home.html' %}
{% load static %}
{% block 'title' %} Dashboard - Student {% endblock %}


{% block 'body' %}

<div class="row">
    {% include 'component/studentsidenav.html' %}
    <div class="col-9 right-side">
        {% include 'component/message.html' %}
        <h3>Dashboard </h3>
        <hr>
        {% include 'component/searchform.html' %}
        <hr/>
        <div class="row">
            {% for room in classrooms %}
            <div class="col-4">
                <div class="card">
                    <div class="class-image">
                        {% if room.image %}
                        <img src="{{MEDIA_URL}}{{room.image.url}}" class="card-img-top" alt="...">
                        {% else %}
                        <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{room.subject}}</h5>
                        <span style="font-style:italic;">Code : {{room.code}}</span>
                        <p class="card-text">{{room.description|truncatewords:10}}</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


