{% extends  'master/home.html' %}
{% load static %}
{% block 'title' %} Dashboard - Student {% endblock %}


{% block 'body' %}

<div class="row">
    {% include 'component/teachersidenav.html' %}
    <div class="col-10 right-side">
        {% include 'component/message.html' %}
        <h3>{{classroom.subject}} </h3>
        <div class="row">
            <div class="col-9">
                <form action="{% url 'courseDetails' classroom.id %}" method="post" enctype="multipart/form-data">
                    {{form.as_p}}
                    {% csrf_token %}
                    <!--<input type="submit" class="btn btn-success" value="save" role="button">-->
                    <button type="submit" class="btn btn-success" style="float:right;">Save</button>
                </form>
                <div class="row" style="margin-top:20px;">
                <hr/>

                {% for p in posts %}
                    <span><a href="{% url 'blogEdit' p.id %}"><i class="fas fa-edit" style="float:right;margin-left:5px;"></i></a>
                    <a href="#" onclick="deletePost('{% url 'deleteBlog' p.id %}')" class="deletePost"><i class="fas fa-trash" style="float:right;color:red;"></i></a> </span>
                    {% autoescape off%}
                    <p>{{p.description}}</p>
                    {% endautoescape %}
                    {% if p.file %}
                       <span><a href="{{MEDIA_URL}}{{p.file.url}}">{{p.file}}</a></span>
                     {% endif %}
                      <div class="row comment">
                          {% for c in comments %}
                             {% if c.post_id == p.id %}
                               <span>{{c.user}}</span>
                                <p>{{c.comment}}</p>

                             {% endif %}
                          {% endfor %}
                      </div>
                     <form method="post" action="{% url 'postComment' p.id %}">
                         {% csrf_token %}
                         {{commentform.as_p}}
                         <button type="submit" class="btn btn-success">Comment</button>
                     </form>
                    <hr/>
                {% endfor %}
                </div>
            </div>

            <div class="col-3">
                <a href="{% url 'assignment' classroom.id %}" class="btn btn-primary">Assignment</a>
                <hr/>
                Students
                <hr>
                <table class="table table-striped">
                    {% for s in students %}
                      <tr>
                          <td>{{s.user.fullName}}</td>

                          <td>{% if s.status is not True %}<a class="btn btn-sm btn-primary" href="{% url 'accept' s.id %}">Accept</a> {% endif %}</td>
                      </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block 'js' %}


<script type="text/javascript">
 function deletePost(url){
  bootbox.confirm("Are you sure?", function(result){
     if(result){
       window.location = url;
     }
    })
 }
</script>

{% endblock %}


